<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Bookshelf</title>
  
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>

  	
	
</head>
<body>
  <header>
    <div class="nav">

      <a href="#" class="logo">
		<i class="fa fa-book" aria-hidden="true"></i>
         &nbsp;&nbsp;&nbsp;The Bookshelf
      </a>
	
      <div class="box">
        <div class="cart-count">0</div>
        <ion-icon name="cart"  id="cart-icon" ></ion-icon>
      </div>

      <div class="cart">
        <div class="cart-title">Cart Items</div>
        <div class="cart-content">
<!--
          <div class="cart-box">
            <img src="images/97.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-book-title">Special Dosai</div>
              <div class="price-box">
                <div class="cart-price">Rs.72</div>
                 <div class="cart-amt">Rs.72</div>
             </div>
              <input type="number" value="1" class="cart-quantity">
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>

          <div class="cart-box">
            <img src="images/97.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-book-title">Special Dosai</div>
              <div class="price-box">
                <div class="cart-price">Rs.72</div>
                 <div class="cart-amt">Rs.72</div>
             </div>
              <input type="number" value="1" class="cart-quantity">
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>
        -->
        </div>
        
      <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price"><i class="fa fa-eur" aria-hidden="true"></i> 0</div>
      </div>

      <button class="btn-buy">Place Order</button>

      <ion-icon name="close" id="cart-close"></ion-icon>

      </div>
    </div>
	<div class="topnav">
	  <a class="active" id="nav-opt1">About Us</a>
	  <a id="nav-opt2"> Books</a>
	  <a id="nav-opt5"> Books Content </a>
	  <a id="nav-opt3">Contact Us</a>
      <a id="nav-opt4">Metamask</a>
	</div>
  </header>
 
  <div class="container" id="aboutus-div" hidden>
		<section id="about">
			<h1>About Us</h1>
			<div id="aboutus-inner-div"><p>The Bookshelf is a family-owned online bookstore founded in 2021. Our mission is to provide book lovers with a wide selection of high-quality books at affordable prices. We believe that reading is not only a hobby, but also a way to expand your knowledge and enrich your life.</p> <p>At The Bookshelf, we pride ourselves on our knowledgeable and friendly staff. Whether you're looking for a specific book recommendation or just want to chat about your favorite author, we're always happy to help.</p> <p>We are proud to accept a variety of payment options, including credit cards, PayPal, and cryptocurrency. We believe that cryptocurrency is the future of online payments, and we're excited to offer this option to our customers. With cryptocurrency, you can make purchases quickly, securely, and without the need for a bank account or credit card.</p> <p>Thank you for choosing The Bookshelf as your go-to destination for all things books!</p></div>
		</section>
  </div>
  <div class="container" id="books-div">
    <h2 class="title">Discover the Best Book</h2>
    <div class="shop-content">
      <div class="book-box">
        <div class="pic">
          <img src="img/book1.jpg" class="book-img">
        </div>
        <div class="title-div">
		<h2 class="book-title">Killing Thatcher: The IRA, the Manhunt and the Long War on the Crown</h2></div>
        <span class="book-price">ETH 13.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="book-box">
        <div class="pic"><img src="img/book2.jpg" class="book-img"></div>
        <div class="title-div">
		<h2 class="book-title">Old God’s Time</h2></div>
        <span class="book-price">ETH 15.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="book-box">
        <div class="pic"><img src="img/book3.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">The Lock-Up</h2></div>
        <span class="book-price">ETH 11.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="book-box">
        <div class="pic"><img src="img/book4.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">It Ends With Us</h2></div>
        <span class="book-price">ETH 8.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="book-box">
        <div class="pic"><img src="img/book5.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">Lessons in Chemistry</h2></div>
        <span class="book-price">ETH 9.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="book-box">
        <div class="pic"><img src="img/book6.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">Close to Home</h2></div>
        <span class="book-price">ETH 13.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="book-box">
        <div class="pic"><img src="img/book7.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">Strange Sally Diamond</h2></div>
        <span class="book-price">ETH 12.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="book-box">
        <div class="pic"><img src="img/book9.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">The Last Days Of Joy</h2></div>
        <span class="book-price">ETH 13.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
	  <div class="book-box" style="margin-bottom:25%;">
        <div class="pic"><img src="img/book10.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">Hell Breaks Loose</h2></div>
        <span class="book-price">ETH 11.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
	  <div class="book-box" style="margin-bottom:25%;">
        <div class="pic"><img src="img/book11.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">Bunny vs Monkey: Multiverse Mix-up!</h2></div>
        <span class="book-price">ETH 9.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
	  <div class="book-box" style="margin-bottom:25%;">
        <div class="pic"><img src="img/book12.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">Robodog</h2></div>
        <span class="book-price">ETH 12.99</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
	  <div class="book-box" style="margin-bottom:25%;">
        <div class="pic"><img src="img/book8.jpg" class="book-img"></div>
        <div class="title-div"><h2 class="book-title">The Girl from Donegal</h2></div>
        <span class="book-price">ETH 12.9</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>
  </div>
  <div class="container" id="content-div" hidden>
	<label for="booktitle" class="booktitle" >Book Title</label>
			<input class="booktitle" type="text" id="booktitle" name="booktitle" placeholder="Book Title.." required>
		</input>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="booktitle" type="submit" value="Search Content" id="book-title-search" onclick="getbookcontent()">
		
		<div id="outer-div" hidden><span class="content-span">Book Content: </span>
		<div id="show-book-content-div" >
		</div></div>
		<div id="outer-div2" hidden><span class="content-span">Book Rights: </span>
			<div id="show-book-content-div2" >
			</div></div>
  </div>
  <div class="container" id="contactus-div" hidden>
		<h1>Contact Us</h1>
		<form>
			<label for="name">Name</label>
			<input type="text" id="name" name="name" placeholder="Your name.." required>

			<label for="email">Email</label>
			<input type="email" id="email" name="email" placeholder="Your email.." required>

			<label for="mobile">Mobile</label>
			<input type="text" id="mobile" name="mobile" placeholder="Your mobile.." optional>

			<label for="subject">Subject</label>
			<input type="text" id="subject" name="subject" placeholder="Subject.." optional>

			<label for="message">Message</label>
			<textarea id="message" name="message" placeholder="Write something.." style="height:200px" required></textarea>

			<input type="submit" value="Submit">
		</form>
  </div>
  <div class="container" id="matmask-div" hidden>
	ye matamask wala div hai.
  </div>
  <div class="footer">
	<center><p>&copy; 2023 The Bookshelf. All Rights Reserved.</p><center>
</div>

	<!-- inlcuded js and css files -->
	<link rel="stylesheet" href="\css\home.css">
	<!-- <script type="text/javascript" src="\js\sample.js"></script> -->
	<script type="text/javascript" src="\js\home.js"></script>
	<!-- end -->

</body>
</html>